<!DOCTYPE html>

<html lang="{{ locale }}">

	<head>

		<title> Inshapardaz </title>

		<!-- Character Set -->

		<meta charset="UTF-8" />

		<!-- Viewport -->

		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<!-- Base -->

		<base href="/" />

	</head>

	<body class="{{ theme }}">

		<div id="root">

			<!-- Application will render here -->

		</div>

		<!-- Bootstrap -->

		<script type="text/javascript">

			window.dataLayer = window.dataLayer || [];

			window.addEventListener('appreadytostart', function ()
			{
				inshapardaz.start({
					clientId                   : '{{ clientId }}',
					authority                  : '{{ authority }}',
					audience                   : '{{ audience }}',
					apiUrl                     : '{{ apiUrl }}'
				});
			});

		</script>

	</body>

</html>
